

<mat-card class="example-card row">

        
  <mat-card-header>

    <mat-card-title> 
      <strong> Title: </strong> <span class="title">{{book.volumeInfo.title | titlecase | removeSpecialChars  }}</span> 
      <span *ngIf="!book.volumeInfo.title" class="title">None provided</span>
    </mat-card-title>

    
    <mat-card-subtitle> By: <span class="author">{{book.volumeInfo.authors ? book.volumeInfo.authors[0] : book.volumeInfo.authors}}</span>
        <span *ngIf="!book.volumeInfo.authors" class="author" >None provided</span>
    </mat-card-subtitle>

  </mat-card-header>


  <img *ngIf="book.volumeInfo.imageLinks" mat-card-image [src]="book.volumeInfo.imageLinks.thumbnail" onError="this.onerror=null;this.src='https://cdn.browshot.com/static/images/not-found.png'" height="142" width="142" class="event-image" alt="not found">
  <img *ngIf="!book.volumeInfo.imageLinks" mat-card-image src="https://cdn.browshot.com/static/images/not-found.png" height="142" width="142" class="event-image" alt="not found">


  <p style="font-size: 15px"> Published: <span class="published">{{ book.volumeInfo.publishedDate | date }}</span>
    <span *ngIf="!book.volumeInfo.publishedDate" class="published">None provided</span>
</p>

<p class="id"> Id:{{book.id }}</p>

  <mat-card-actions>
      <button  class="btn  btn-primary edit-btn"  (click)="openEditDialog()">Edit</button>
      <button  class="btn  btn-danger delete-btn" style="margin-left:10px;"  (click)="deleteBookDialog()">Delete</button>
  </mat-card-actions>

</mat-card>
